*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
:root{
    --primary:#FB2E86;
    --mainfont:"Lato", sans-serif;
}
.btn{
   border: none;
   outline: none;
   color: white;
   background-color: var(--primary);
   padding: 16px 40px;
   border-radius: 2px;
}
.btn-primary{
background-color: var(--primary);
}
.btn-success{
background-color: #08D15F;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
}
.container{
    width: calc(100% - 320px);
    margin: auto;
}
@media screen and (max-width:1400px) {
    .container{
width: calc(100% - 200px);
    }
}
@media screen and (max-width:992px) {
    .container{
width: calc(100% - 100px);
    }
}
@media screen and (max-width:576px) {
    .container{
width: calc(100% - 40px);
    }
}
.test-white{
    color: white;
}
.d-flex{
    display: flex;
}
.flex-direction{
    flex-direction: column;
}
.g-1{
gap: 10px;
}
.g-2{
gap: 20px;
}
.g-3{
gap: 30px;
}
.g-4{
gap: 40px;
}
.g-15{
gap: 15px;
}
.g-25{
gap:25px;
}
.g-35{
gap: 35px;
}