body {
    font-family: var(--mainfont);
}

.header {

    padding: 55px 0;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.bar {
    display: none;
}


.list a {
    color: #0D0E43;
}

.header .active {
    color: var(--primary);
}

.search form {
    border: 3px solid #E7E6EF;
    border-radius: 5px;
    display: flex;
}

.search input {
    border: none;
    outline: none;
    width: 250px;
    padding-left: 9px;
}

.search button {
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
}

@media screen and (max-width:1200px) {

    .list,
    .header .search {
        display: none;
    }

    .bar {
        display: block;
    }
}



/*end header*/


/*start hero*/
.hero{
    background-color: #F2F0FF;
    padding: 50px 0;
}
.hero .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.hero-content{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex:1 0 45%;
}

.hero-content .hero-lamp{
    width: 100px;
   position: relative;
    bottom:70px;
    width: 45%;
    max-width: 280px;

}
.hero-content h1{
    padding: 20px 0;
   
}

.hero-content .btn {
  display: inline-block;
  background-color: #fb2e86;
  color: #fff;
  padding: 12px 30px;
  border-radius: 4px;
  margin-top: 20px;
  text-decoration:none;
}

.hero-img{
    flex: 1 0 45%;
    text-align: right;
}

.hero-img img{
    width: 100%;
    max-width: 500px;
}
.hero-content .gray{
    color: #8A8FB9;
}

.hero-content .tagline {
    color: #F701A8;
    line-height: 1.6;
}

.hero-img{
    flex: 1 0 45%;
}
.hero-img img{
    width: 100%;
    max-width: 500px;
}




@media (max-width: 768px) {
  .hero-content .hero-lamp {
    display: none;
  }

  .hero {
    padding: 100px 20px;
    text-align: center;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
  }

  .hero-content .hero-img {
    width: 80%;
    margin-top: 20px;
  }

  .hero-content .hero-img img {
    width: 100%;
  }
}
/*end hero*/


/* start featured product*/
.featured-product {
    padding: 50px 0;
}

.featured-product h2 {
    margin-bottom: 30px;
    color: #1A0B5B;
}



.featured-product .row {
    justify-content: flex-start;

    gap: 15px;
}


.product {
    position: relative;
    overflow: hidden;
}



.product .icons {

    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    opacity: 0;
    transform: translateY(-10px);
    z-index: 2;


}

.img .icons {
    transition: all .8s;
}

.product :hover .icons {
    opacity: 1;
    transform: translateY(0);

}



.view-btn {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #08D15F;
    color: #fff;
    border: none;
    padding: 6px 16px;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 3;
}

.product:hover .view-btn {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -55%);
}

.view-btn:hover {
    background-color: #08D15F;
}


.product {
    position: relative;
    overflow: hidden;
}

.badge-sale {
    position: absolute;
    top: -10px;
    left: -6px;
}




.color {
    width: 20px;
    height: 6px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.color-one {
    background-color: #05E6B7;
}

.color-two {
    background-color: #F701A8;
}

.color-three {
    background-color: #00009D;
    transition: all .6s;
}


.featured-product .product {
    flex: 1 0 250px;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 4px;

}

.product .img {
    background-color: #F6F7FB;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;


}

.product .img img {

    object-fit: contain;
}



.product-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    transition: all .6s;
}

.product-details h3 {
    transition: all .6s;
}

.color-info span {
    transition: all .9s;
}

.product:hover .product-details {
    background-color: #2F1AC4;
    color: white;
    border-radius: 2px;
}


.product:hover .product-details h3 {
    color: white;
}

.product:hover .product-details .color-three {
    background-color: #FFEAC1;
}

.product:hover .color-info span {
    color: white;
}

/*end featured product*/


/*latest product*/

.Leatest-Products {
    padding: 50px 0;
}

.Leatest-Products h2 {
    text-align: center;
    padding-bottom: 30px;
    color: #1A0B5B;
}


.Leatest-Products .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    padding-bottom: 30px;


}

.Leatest-Products .list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding-bottom: 30px;

}

.Leatest-Products .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px
}
.Leatest-Products .product{
    flex:1 1 30%;
    max-width: 30%;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
}
.Leatest-Products .product .img {
   height: 250px;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.Leatest-Products .product .img img{
    max-width:100% ;
    max-height: 100%;
    object-fit: contain;
}


@media screen and (max-width:992px) {
    .Leatest-Products .product{
        flex: 1 1 45%;
        max-width: 45%;
    }
}

@media screen and (max-width:600px) {
    .Leatest-Products .product{
        flex:1 1 100%;
        max-width: 100%;
    }
}




.Leatest-Products .product .img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Leatest-Products .leatest-icon{
   position: absolute;
    bottom:50px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transform: translatey(-10px);
    z-index: 3;
}



.img .leatest-icon {
    transition: all .8s;
}

.product:hover .leatest-icon{
    opacity: 1;
    transform: translateY(0);
}


.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.product-name {
    font-size: 16px;
    color: #151875;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
}

.price .new-price {
    color: #151875;
    font-weight: 700;
}

.price .old-price {
    color: #FB2448;
    text-decoration: line-through;
    font-weight: 400;
}

.Leatest-Products .active {
    color: var(--primary);
}


/*end leatest product*/




/*  start  shopex-offer section */
.Shopex-Offer{
    padding: 50px 20px;
    background-color: white;
    text-align: center;
}
.Shopex-Offer .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.Shopex-Offer h2{
   margin-bottom: 40px;
    color: #1A0B5B;
}
.Shopex-Offer .icons{
   flex: 1 1 230px;
   max-width: 230px;
   background-color: white;
   
   padding: 40px 20px;
    box-shadow: 0 1px 10px rgb(0,0,0,0.1) ;
    
}
.Shopex-Offer .icons img{
    width: 60px;
    margin-bottom: 15px;
}
.Shopex-Offer .shopex-info h3{
    margin-bottom: 10px;
    color:#151875;
}
.Shopex-Offer .shopex-info p{
    color:#8A8FB9;
    line-height: 1.6;
    padding: 0 10px;
}
@media screen and(max-width:768px) {
    
    .Shopex-Offer .row{
       flex-direction: column;
       align-items: center;
    }
}
/*end shopex-offer section*/



/* start Trending-Products*/

.Trending-Products{
    padding: 50px 0;
}
.Trending-Products h2{
     margin-bottom: 40px;
    color: #1A0B5B;
}

.Trending-Products .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
}
.Trending-Products .icons{
   flex: 1 0 250px;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 4px;
    margin-bottom: 30px;
}

.Trending-Products .icons .img{
    
     background-color: #F6F7FB;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}
.Trending-Products .img img{
    object-fit: contain;
}

.Trending-Products h3{
    color: #151875;
    padding: 20px;
}
.Trending-Products span{
    display: flex;
   
}
.info .past-price{
    color: #8A8FB9;
    
   
}
.Trending-Products .price{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 15px;
    gap: 20px;
}
.Trending-Products .past-price{
    font-size: 14px;
}













/* end Trending-Products*/



/*start Nweslater*/
.newslater {
    background-image: url("./img/public/Rectangle\ 102.webp");
    padding: 175px 0;
    text-align: center;
}

.newslater h2 {
    margin-bottom: 38px;
    color: #151875;
    font-size: 35px;
    font-family: Josefin Sans;
    line-height: 155%;
    letter-spacing: 1.5%;

}

.shop-btn {
    transition: all .5s;
}

.shop-btn:hover {
    background-color: #151875;
}

/*end Nweslater*/

/*start clients*/
.clients {

    padding: 50px 0;
    text-align: center;
}

.clients .row {
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
}

.clients .logo {
    width: calc((100% - 60px) /5);
}

.clients img {
    width: 100%;
}

@media screen and (max-width:900px) {
    .clients .logo {
        width: calc((100% - 30px) /3);
    }
}


/*end clients*/

/*start footer*/
footer {
    background-color: #EEEFFB;
    padding: 50px 0;
}


.footer a,
.adress-info {
    color: #8A8FB9;
}

.footer .row {
    gap: 30px;
}

.footer .left-side {
    gap: 35px;
    align-items: flex-start;
    width: calc((100% - 30px) /2);
}

.footer .right-side {
    width: calc((100% - 30px) /2);
}

.footer .right-side .row {
    gap: 35px;
    align-items: flex-start;
}

.footer-item {
    gap: 45px;
    width: calc((100% - 70px) /3);
}

@media screen and (max-width:992px) {

    .footer .left-side,
    .footer .right-side {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .footer .right-side .row {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .footer-item {
        width: 100%;
    }

    .footer-item nav a {
        display: block;
        margin-bottom: 8px;
    }

    .footer-item h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

/*end footer*/